<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplicator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="title"
        <h1>Wellcome to Multiplicator</h1>
    </div>
    <div>
        <form action="/calculate" method="POST">
            <label for="multiplicator">Multiplicator: </label>
            <input type="text" id="multiplicator" name="multiplicator">
            <br/>
            <label for="values">Number of values:</label>
            <input type="text" id="values" name="values">
            <br/>
            <input type="submit" value="Calculate">
        </form>
    </div>
    <div class="result">
        {% if results is not none %}
            <ul>
                {% for result in results %}
                <ol>{{result}}</ol>
            </ul>
            {% endfor %}
        {% endif %}
    </div>
    <div class="footer">
        (c) Joao M Pacheco, 2024
    </div>
</body>
</html>